h1{

}
Estos son selectores que engloban los estilos a todos los elementos seleccionados.


*{

}
Este es un selector universal, selecciona todos los elementos.


.Grupo{

}
Este selector puede a grupar varios elementos para que se apliquen los mismos style a todos.
Para eso vamos a necesitar aplicar el atributo class="Grupo" a los elementos que queramos modificar en html.


h1,
h2,
p   {
      color: green;
      font-size: 50px;
    }
Tambien podemos agrupar varios elementos colocando una coma uno detras del otro.


#id {
  color: red;
}
Este selector se utiliza para seleccionar a los elementos con la id que corresponde, por ejemplo <p id="id"> Hola </p>.


a[title] {
  color: red;
}
Este selector modifica a los elementos con los atributos que coincidan. EJ: elemento[attibuto], [atributo].


a[href="url"] {
  color: color;
}
Este selector modifica a los elementos con un atributo en especifico. EJ: elemento[atributo=valor], [atributo=valor].


:root {
  --nombre-de-valor: green;
}
Este selector es un modificador global de css, selecciona al codigo html.