Nueva carpeta/index.html
Nueva carpeta/style.css
Nueva carpeta/Img/arbol-1.jpg
Nueva carpeta/Img/arbol-2.jpg
Nueva carpeta/Img/arbol-3.jpg
JavaScript/variables-y-basico.js
.vscode/launch.json
Nueva carpeta/main.js
